In [6]:
import pandas as pd
import os

In [18]:
df = pd.read_csv("hello.csv")
df['TOPIC'].unique()

array(['bass', 'battery', 'call', 'case', 'charge', 'connect',
       'connectivity', 'design', 'device', 'ear', 'ear bud', 'ear phone',
       'experience', 'feature', 'fit', 'heavy', 'mi', 'mic', 'music',
       'noise cancellation', 'option', 'other brands', 'person', 'phone',
       'price', 'quality', 'review', 'side', 'sound', 'sound quality',
       'tws', 'vocal', 'volume'], dtype=object)

In [21]:
df

     TOPIC  SENTIMENT SCORE  QA SCORE
0     bass         0.016711  0.255537
1  battery         0.062413  0.261066
2     call         0.200622  0.269333
3     case         0.142150  0.078409

In [19]:
df = df[df.TOPIC.isin(['bass', 'battery', 'call','case'])]

In [20]:
df

     TOPIC  SENTIMENT SCORE  QA SCORE
0     bass         0.016711  0.255537
1  battery         0.062413  0.261066
2     call         0.200622  0.269333
3     case         0.142150  0.078409

In [11]:
def fun(x):
    if (x == "bass" or x == "battery"):
        return "hardware"
    elif (x == "call"):
        return "anything"
    else:
        return "software"

In [12]:
df["category"] = df.TOPIC.apply(lambda x: fun(x))

In [13]:
def ratingfun(x):
    if (x > 0.21):
        return 5
    else:
        return 1

In [14]:
df["rating"] = df["SENTIMENT SCORE"].apply(lambda x: ratingfun(x))

In [15]:
df

     TOPIC  SENTIMENT SCORE  QA SCORE  category  rating
0     bass         0.016711  0.255537  hardware       1
1  battery         0.062413  0.261066  hardware       1
2     call         0.200622  0.269333  anything       1
3     case         0.142150  0.078409  software       1

In [16]:
df.groupby("category").mean()

          SENTIMENT SCORE  QA SCORE  rating
category
anything         0.200622  0.269333     1.0
hardware         0.039562  0.258302     1.0
software         0.142150  0.078409     1.0