In [1]:
import pandas as pd
import os

ImportWarning

In [26]:
df = pd.read_csv("hello.csv")
df.TOPIC.unique()

array(['bass', 'battery', 'call', 'case', 'charge', 'connect',
       'connectivity', 'design', 'device', 'ear', 'ear bud', 'ear phone',
       'experience', 'feature', 'fit', 'heavy', 'mi', 'mic', 'music',
       'noise cancellation', 'option', 'other brands', 'person', 'phone',
       'price', 'quality', 'review', 'side', 'sound', 'sound quality',
       'tws', 'vocal', 'volume'], dtype=object)

In [27]:
df.describe()

       SENTIMENT SCORE   QA SCORE
count        33.000000  33.000000
mean          0.118901   0.190367
std           0.195957   0.099144
min          -0.384963   0.023243
25%           0.000388   0.146067
50%           0.086887   0.177456
75%           0.210883   0.255537
max           0.567593   0.534131

In [12]:
df = df[df.TOPIC.isin(['bass', 'battery', 'call','case'])]

In [13]:
df

     TOPIC  SENTIMENT SCORE  QA SCORE
0     bass         0.016711  0.255537
1  battery         0.062413  0.261066
2     call         0.200622  0.269333
3     case         0.142150  0.078409

In [22]:
def fun(x):
    if (x == "bass" or x == "battery"):
        return "hardware"
    elif (x == "call"):
        return "anything"
    else:
        return "software"

In [23]:
df["category"] = df.TOPIC.apply(lambda x: fun(x))

In [28]:
def ratingfun(x):
    if (x > 0.21):
        return 5
    else:
        return 1

In [29]:
df["rating"] = df["SENTIMENT SCORE"].apply(lambda x: ratingfun(x))

In [30]:
df

                 TOPIC  SENTIMENT SCORE  QA SCORE  rating
0                 bass         0.016711  0.255537       1
1              battery         0.062413  0.261066       1
2                 call         0.200622  0.269333       1
3                 case         0.142150  0.078409       1
4               charge        -0.041738  0.177456       1
5              connect        -0.024887  0.146067       1
6         connectivity         0.210883  0.174404       5
7               design         0.331626  0.170024       5
8               device         0.378107  0.247141       5
9                  ear        -0.052733  0.144599       1
10             ear bud        -0.079089  0.217678       1
11           ear phone        -0.126867  0.183733       1
12          experience         0.135368  0.190305       1
13             feature         0.059739  0.156006       1
14                 fit         0.069825  0.223545       1
15               heavy         0.000388  0.023243       1
16                  mi         0.056645  0.156187       1
17                 mic         0.201650  0.534131       1
18               music         0.266097  0.222076       5
19  noise cancellation         0.124458  0.272422       1
20              option         0.086887  0.075116       1
21        other brands         0.567593  0.049738       5
22              person         0.252723  0.075897       5
23               phone         0.205781  0.072775       1
24               price         0.002451  0.279234       1
25             quality         0.199754  0.285017       1
26              review         0.007499  0.041482       1
27                side        -0.384963  0.176416       1
28               sound         0.377806  0.268279       5
29       sound quality         0.453981  0.303981       5
30                 tws         0.400167  0.219984       5
31               vocal        -0.093992  0.168556       1
32              volume        -0.083329  0.162282       1

In [25]:
df.groupby("category").mean()

          SENTIMENT SCORE  QA SCORE
category
anything         0.200622  0.269333
hardware         0.039562  0.258302
software         0.142150  0.078409